/Library/
/Temp/
/obj/
/Logs/
/hooks/
/lfs/
/UserSettings/
/Assets/UIPrefabs/Atlas/
/Assets/UIPrefabs/Atlas.meta

/Assets/StreamingAssets/Audio/
/Assets/StreamingAssets/**/*.meta
/Assets/StreamingAssets/Platform.ini

/GCache/
/GCache2/
/GBundle/
/MemoryCaptures

/HybridCLRData/

/Tool/SQLiteSpy.db3

_Temp/
_Temp.meta

.vs/
.git/
.gradle/
.idea/
obj/
bin/
launchSettings.json

*.csproj
*.sln
*.suo
*.user
.vsconfig

Projects/BattleServer/HBSServer
!Projects/BattleServer/**/*.sln
!Projects/BattleServer/**/*.csproj
